@import 'resources/branding/colors';

.wrapper {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;

	&.publish {
		color: $dark_grey;
	}
	&.moderation {
		color: $orange !important;
	}
	&.ban {
		color: red;
	}
	&.close {
		color: $dark_grey;
	}
}

.icon {
	width: 18px;
	height: 16px;
	margin-left: 8px;
}

@media screen and (max-width: 590px) {
	.wrapper {
		flex-direction: row-reverse;
	}

	.icon {
		margin: 0 8px 0 0;
	}
}
