.notice {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 47px;
  align-items: center;
  cursor: pointer;

  &__empty {
    font-family: Text-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #161718;
    // color: #8792a3;
    padding: 12px 20px;
    margin: 0;
    // text-align: center;
  }

  &:hover{
    & svg g {
      fill: #4198C5;
    }
  }

  // & svg {
  //   animation: shakeBell 3s linear 5 alternate;
  //   & path:nth-child(2) {
  //     animation: shakeClapper 3s 5 alternate;
  //     animation-timing-function: cubic-bezier(1, 0.5, 0.9, 1);
  //   }
  // }
  & > .notice__bellWrapper {
    .icon{
      width: 24px;
      height: 24px;
      background: url('./resources/bell.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
  }
}

  &__pointer {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 17px;
      right: 14px;
      width: 8px;
      height: 8px;
      border-radius: 15px;
      border: solid 1.3px #ffffff;
      background-color: #d0021b;
      z-index: 2;
    }
  }

  &__list {
    position: absolute;
    z-index: 10;
    top: 42px;
    right: 0;
    margin: 0;
    transition: 0.2s;
    width: 300px;
    min-height: 94px;
    max-height: 172px;
    // height: 172px;
    border-radius: 4px;
    box-shadow: 0 2px 16px 0 rgba(34, 34, 34, 0.16);
    background-color: #ffffff;
    padding: 8px 0;
    text-align: left;
    text-transform: none;
    transition: 0.2s;
    // transform: scale(0);
    display: none;
    overflow-y: scroll;

    @media screen and (max-width: 1400px) {
      top: 36px;
    }

    &__enabled {
      // transform: scale(1);
      display: block;
    }

    &__item {
      list-style-type: none;
      padding: 12px 20px;
      cursor: pointer;
      // &_active{
      //   background-color: rgba(246,246,246,0.69);
      // }
      &:hover, &_active {
        background-color: rgba(246,246,246,0.69);
      }
    }
  }

  &__title {
    font-family: Text-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #161718;
    margin: 0;

    & span {
      font-weight: 600;
      font-family: Text-Semibold;
    }
  }

  &__time {
    font-family: Text-Regular;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8792a3;
    margin: 6px 0 0 0;
  }
}

// @keyframes shakeBell {
//   0% {
//     transform: rotate(-15deg);
//   }
//   10% {
//     transform: rotate(15deg);
//   }
//   20% {
//     transform: rotate(-18deg);
//   }
//   30% {
//     transform: rotate(18deg);
//   }
//   40% {
//     transform: rotate(-22deg);
//   }
//   50% {
//     transform: rotate(22deg);
//   }
//   60% {
//     transform: rotate(-18deg);
//   }
//   70% {
//     transform: rotate(18deg);
//   }
//   80% {
//     transform: rotate(-15deg);
//   }
//   90% {
//     transform: rotate(15deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }

// @keyframes shakeClapper {
//   0% {
//     transform: translate(-20%, 0);
//   }
//   5% {
//     transform: translate(20%, 0);
//   }
//   15% {
//     transform: translate(-20%, 0);
//   }
//   25% {
//     transform: translate(20%, 0);
//   }
//   35% {
//     transform: translate(-20%, 0);
//   }
//   45% {
//     transform:translate(20%, 0);
//   }
//   55% {
//     transform: translate(-20%, 0);
//   }
//   65% {
//     transform: translate(20%, 0);
//   }
//   75% {
//     transform: translate(-15%, 0);
//   }
//   85% {
//     transform: translate(15%, 0);
//   }
//   100% {
//     transform: translate(0, 0);
//   }
// }

@media screen and (max-width: 480px) {
.notice {
  &__list {
    display: none;
  }
}
}
